#jumbotron {
    width: 2400px
}

#red {
    background: red
}

#blue {
    background: blue
}

#brown {
    background: brown
}

#green {
    background: green
}

#orange {
    background: orange
}

#pink {
    background: pink
}

#purple {
    background: purple
}

#yellow {
    background: yellow
}