#jumbotron {
    width: 2400px
}

#red {
    background: red
}

#blue {
    background: blue
}

#brn {
    background: brown
}

#g {
    background: green
}

#org {
    background: orange
}

#pink {
    background: pink
}

#p {
    background: purple
}

#y {
    background: yellow
}