* {
    font-family: 'Oswald', sans-serif;
}

.nav-wrapper {
    background: blue
}

#ctalogo {
    height: 60px;
    width: 60px;
    margin-left: 15px
}

.card-image {
    height: 1000%;
    width: 100%;
}

#italics {
    font-style: italic
}

#instructions {
    margin-right: 50px
}


.test{
    margin:0 auto;
    width: 20%;

}

.train-submit{
  width: 30%;
  margin: 0 35%;  
  text-align: center;
}

.page-footer {
    background: blue

}

p {
    font-style: italic
}

.btn {
    width: 250px;
    margin-bottom: 15px;
    margin-top: 15px;
    background: blue
}


/* .train-table{
    background-color:blue;
} */


/* without background with a bigger font*/
.train-table {
   font-weight: bolder;
   font-size: 1.2em;
   border-bottom: 2px solid black;
}

/* with background */
/* .train-table {
    background-color: blue;
    color: white
 } */


 #inputFormID {
     text-align: center;
     margin: 0 auto;
 }

 #footerModal {
     margin-left: 41.25%
 }

 #glance {
    font-style: italic;
     margin-top: 15px;
     margin-bottom: 15px
 }

 #stsign {
    font-size: 20px;
 }

 h4 {
     font: bolder
 }
